DEBUG="True"
ADDRESS="0.0.0.0"
PORT="5000"
APP_KEY="2ba11a45-91b8-4bc6-a00d-f2927d6d1786"
FLATPAGES_AUTO_RELOAD="True"
FLATPAGES_EXTENSION=".md"
FLATPAGES_ROOT="content"
POST_DIR="posts"
USE_ANALYTICS="False"
GOOGLE_ANALYTICS_ACCOUNT="UA-XXXXXXXX-1"